/* Hero Section */
.hero {
    width: 100%;
}

.hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
}

.hero h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 23px;
    font-weight: normal;
}

#btnHeroPrimary {
    /*margin-top: 30px;*/
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    color: #fff;
    background: #4154f1;
    box-shadow: 0 5px 30px rgba(65, 84, 241, 0.4);
}

#btnHeroPrimary span {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.hero img {
    text-align: right;
}

/* Anything less than 992 use these settings */

@media (max-width: 768px) {
    .hero h1 {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .hero h2 {
        font-size: 24px;
    }

    .hero {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .hero {
        height: auto;
        padding: 120px 0 60px 0;
    }

    .hero img {
        text-align: center;
        margin-top: 80px;
    }

    #loginList {
        margin-top: .50rem;
    }
}