html, body {
    height: 100%;
}

main {
    min-height: 100%;
}

.card-rounded {
    border-radius: 28px;
    border: 0;
}

/* For pixes less than 576*/

.container {
    max-width: 520px!important;
    width: 90%;
    padding: 50px 0 !important;
}

.card-body {
    padding: 0.5rem!important;
}

@media (min-width: 576px) {
    .card-body {
        padding: 3rem!important;
    }
}