.navbar-brand-text {
    font-size: 32px;
    font-weight: 900;
}

.navbar-top {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Remove green from it on forms since it might be misinterpreted */
.form-control.is-valid:focus, .was-validated .form-control:valid:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    border-color: #86b7fe;
}

.form-control.is-valid, .was-validated .form-control:valid {
    border: 1px solid #ced4da;
    padding-right: 0;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 0;
}

/* Colors used for buttons/div background */

.color-primary {
    background-color: #0d6efd!important;
}

.color-secondary {
    background-color: #012970!important;
}

/* Text colors site wide */

.text-primary {
    color: #0d6efd!important;
}

.text-secondary {
    color: #012970!important;
}