.navbar-brand-text {
    font-size: 32px;
    font-weight: 900;
}

.navbar-top {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Remove green from it on forms since it might be misinterpreted */
.form-control.is-valid:focus, .was-validated .form-control:valid:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    border-color: #86b7fe;
}

.form-control.is-valid, .was-validated .form-control:valid {
    border: 1px solid #ced4da;
    padding-right: 0;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 0;
}

/* Colors used for buttons/div background */

.color-primary {
    background-color: #0d6efd!important;
}

.color-secondary {
    background-color: #012970!important;
}

/* Text colors site wide */

.text-primary {
    color: #0d6efd!important;
}

.text-secondary {
    color: #012970!important;
}

/* Navigation bar */

#navbar hr {
    display: none;
}

#navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar li {
    position: relative;
}

#navbar ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 22, 61, 0.9);
    transition: 0.3s;
}

.navbar-mobile ul {
    display: block !important;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

#mobile-nav-toggle {
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

/* Header */

.header-scroll {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0 2px 20px rgba(1, 41, 112, 0.1)
}

/* Navbar less than 992 */
@media (max-width: 991px) {
    #navbar hr {
        display: block;
    }

    #navbar ul {
        display: none;
    }

    #navbar ul .dropdown-menu {
        position: static;
        float: none;
    }

    #mobile-nav-toggle {
        display: block;
    }

    #navbar .dropdown-menu {
        display: block !important;
        margin: 0 1rem 0 0;
        border-width: 0;
        border-radius: 8px;
    }

    #navbar .dropdown-menu hr {
        display: none;
    }

    #navbar .dropdown-toggle::after {
        content: none;
    }
}